[Settings]
hostToTorLinkRate=10Mbps
hostToTorCrossTrafficRate=50Mbps
torToAggLinkRate=30Mbps
aggToCoreLinkRate=30Mbps
hostToTorLinkDelay=3ms
torToAggLinkDelay=3ms
aggToCoreLinkDelay=3ms
pctPacedBack=0.8
serviceRateScales=1.0
appDataRate=10Mbps
duration=20
steadyStart=3
steadyEnd=18
sampleRate=300.0
experiments=120