[Settings]
hostToTorLinkRate=300Mbps
hostToTorCrossTrafficRate=50Mbps
torToAggLinkRate=945Mbps
aggToCoreLinkRate=945Mbps
hostToTorLinkDelay=50us
torToAggLinkDelay=50us
aggToCoreLinkDelay=50us
pctPacedBack=0.8
serviceRateScales=0.97
appDataRate=10Mbps
duration=0.9
steadyStart=0.3
steadyEnd=0.8
sampleRate=4500.0
errorRate=0.002
errorRateScale=0.5, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0, 10.0, 12.0, 14.0, 15.0
experiments=30