[Settings]
hostToTorLinkRate=1000Mbps
hostToTorCrossTrafficRate=50Mbps
torToAggLinkRate=3000Mbps
aggToCoreLinkRate=3000Mbps
hostToTorLinkDelay=50us
torToAggLinkDelay=50us
aggToCoreLinkDelay=50us
pctPacedBack=0.8
serviceRateScales=1.0
appDataRate=10Mbps
duration=0.660
steadyStart=0.05
steadyEnd=0.65
sampleRate=35000.0
errorRate=0.05
errorRateScale=0.0
experiments=10