[Settings]
hostToTorLinkRate=20Mbps
hostToTorCrossTrafficRate=50Mbps
torToAggLinkRate=63Mbps
aggToCoreLinkRate=63Mbps
hostToTorLinkDelay=50us
torToAggLinkDelay=50us
aggToCoreLinkDelay=50us
pctPacedBack=0.8
serviceRateScales=1.0
appDataRate=10Mbps
duration=20
steadyStart=3
steadyEnd=18
sampleRate=300.0
errorRate=0.05
errorRateScale=1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 0.7, 8.0, 9.0, 10.0
experiments=30